@using WebApplication1.Models
@model EmployeeSkillsDocument

@{ ViewBag.Title = "Employee Details"; }


<div class="row">
    <div class="col-lg-8">

        <div class="mdl-grid">
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--8dp">
                <div class="mdl-card__title">
                    <div class="card__employee">
                        <img src=@("http://www.gravatar.com/avatar/" + Model.Hash + "?d=identicon") alt="@Model.FirstName" />
                        <div class="card__employee-content">
                            @Html.ActionLink(string.Format("{0} {1}", Model.FirstName, Model.LastName), "Index", "Employee", new { employeeId = Model.Id }, null)
                        </div>

                    </div>
                </div>
                <div class="mdl-card__supporting-text">
                </div>
            </div>
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--8dp">
                <div class="mdl-card__title"><h2>Skills</h2></div>
                <div class="mdl-card__supporting-text">
                    @{
                        foreach (var skill in Model.Skills)
                        {
                            <div class="card_employee-skillblock">
                                <span class="name">@skill.Name</span>
                                <span class="length">@skill.YearsOfExperience years</span>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--8dp">
                <div class="mdl-card__title"><h2>Certifications</h2></div>
                <div class="mdl-card__supporting-text">
                    @{
                        foreach (var cert in Model.Certifications)
                        {
                            <div class="card_employee-certblock">
                                <span class="name">@cert.Name</span>
                                <span class="length">@cert.DateAchieved.ToShortDateString()</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div>
            <h1>Add New</h1>
            <input id="tta" class="typeahead" data-provide="typeahead" placeholder="Search to add" autocomplete="off" />
            <div id="details"></div>
            <div id="selectedSuggestion"></div>
            <input type="submit" class="btn btn-primary" value="Add &raquo;" />
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".typeahead").typeahead({
                highlight: true
            },
                {
                    name: 'skills',
                    displayKey: 'value',
                    source: function (query, process) {
                        var results = [];

                        // This is going to make an HTTP post request to the controller
                        return $.post('/Employee/AutoCompleteSkills', { query: query }, function (data) {

                            // Loop through and push to the array
                            $.each(data, function (i, result) {
                                results.push({ value: result.Name });
                            });

                            // Process the details
                            process(results);
                        });
                    },
                    templates: {
                        empty: ['<div class="tt-empty-message">', 'No Results', '</div>'].join('\n'),
                        header: '<h3 class="tt-tag-heading">Skills</h3>'
                    }
                },
                {
                    name: 'certifications',
                    displayKey: 'value',
                    source: function (query, process) {
                        var results = [];

                        // This is going to make an HTTP post request to the controller
                        return $.post('/Employee/AutoCompleteCertifications', { query: query }, function (data) {

                            // Loop through and push to the array
                            $.each(data, function (i, result) {
                                results.push({ value: result.Name });
                            });

                            // Process the details
                            process(results);
                        });
                    },
                    templates: {
                        empty: ['<div class="tt-empty-message">', 'No Results', '</div>'].join('\n'),
                        header: '<h3 class="tt-tag-heading">Certifications</h3>'
                    }
                })
                .on('typeahead:selected', function (eventObject, suggestionObject, suggestionDataset) {
                    // Set the text to our selected value
                    $("#details").text("Selected : " + suggestionObject.value);
                });;
        });
    </script>
}
